<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<meta charset="ISO-8859-1">

<title>SRM - Home</title>
</head>
<body>

	<div class="container" layout:fragment="content">
		<h3 style="text-align: center">Welcome to SRM</h3>
		<hr />
		<p style="font-size:1.2em">Maharishi International University (MIU), formerly Maharishi
			University of Management, is a private university in Fairfield, Iowa.
			It was founded in 1973 by Maharishi Mahesh Yogi and features a
			"consciousness-based education" system that includes the practice of
			the Transcendental Meditation technique. Its founding principles
			include the development of the full potential of the individual,
			fulfilling economic aspirations while maximizing proper use of the
			environment and bringing spiritual fulfillment and happiness to
			humanity. The university is regionally accredited through the
			doctoral level by the Higher Learning Commission and offers degree
			programs in art, business, education, communications, mathematical
			science, literature, physiology & health, Vedic Science and
			sustainable living. The original campus was located in Goleta,
			California, and in 1974 moved to the current campus in Fairfield,
			Iowa. During the 1990s many older buildings were demolished and
			replaced using green technology and the principles of ancient Vedic
			architecture. The university features an academic "block system"
			(only one subject for four weeks) and a diverse, multinational
			student body. It is said to offer an organic, vegetarian food
			program.</p>
		
		</p>
	</div>

</body>
</html>